<ion-view title="AvaliaçãoCamila" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 83.9861px;"></div>
    <div>
      <img src="img/WlgIwhCTBuUERjBMIjAm_camila.jpg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="avaliaOCamila-heading11" style="color:#5F1673;text-align:center;">Camila Silva</h3>
    <div class="spacer" style="width: 300px; height: 16.9861px;"></div>
    <h4 id="avaliaOCamila-heading7" style="color:#000000;">Avalie sua companhia:</h4>
    <div id="avaliaOCamila-button-bar2" class="button-bar">
      <a ui-sref="percurso" id="avaliaOCamila-button14" class="button button-light  button-block button-clear icon ion-ios-star-outline"></a>
      <a ui-sref="percurso" id="avaliaOCamila-button16" class="button button-light  button-block button-clear icon ion-ios-star-outline"></a>
      <a ui-sref="percurso" id="avaliaOCamila-button17" class="button button-light  button-block button-clear icon ion-ios-star-outline"></a>
      <a ui-sref="percurso" id="avaliaOCamila-button18" class="button button-light  button-block button-clear icon ion-ios-star-outline"></a>
      <a ui-sref="percurso" id="avaliaOCamila-button19" class="button button-light  button-block button-clear icon ion-ios-star-outline"></a>
    </div>
  </ion-content>
</ion-view>