<ion-view title="AvaliaçãoThais" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 83.9861px;"></div>
    <div>
      <img src="img/B8ZKrNT8fJPoHxPzKQYl_11054358_10200302608203905_6077057933994442885_n.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="avaliaOThais-heading13" style="color:#5F1673;text-align:center;">Thaís Kuga</h3>
    <div class="spacer" style="width: 300px; height: 16.9861px;"></div>
    <ion-list id="avaliaOThais-list20">
      <ion-item class="item-icon-left" id="avaliaOThais-list-item57">
        <i class="icon ion-android-star"></i>Avalie sua companhia:</ion-item>
    </ion-list>
    <div id="avaliaOThais-button-bar3" class="button-bar">
      <a ui-sref="percurso" id="avaliaOThais-button20" class="button button-royal  button-block">1</a>
      <a ui-sref="percurso" id="avaliaOThais-button21" class="button button-royal  button-block">2</a>
      <a ui-sref="percurso" id="avaliaOThais-button22" class="button button-royal  button-block">3</a>
      <a ui-sref="percurso" id="avaliaOThais-button23" class="button button-royal  button-block">4</a>
      <a ui-sref="percurso" id="avaliaOThais-button24" class="button button-royal  button-block">5</a>
    </div>
  </ion-content>
</ion-view>