<ion-view title="Intruções" hide-nav-bar="true" id="page6" style="background-color:#5F1673;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" id="intruEs-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="intruEs-slide24" style="background:url(img/EPz1etfSToKkYYJE73lt_Intrucoes_login.jpg) no-repeat center;background-size:cover;background-color:#5F1673;">
        <a ui-sref="login" id="intruEs-button4" style="font-size:13px;text-align:left;" class="button button-light  button-block button-clear">Pular</a>
      </ion-slide-page>
      <ion-slide-page id="intruEs-slide25" style="background:url(img/wz4SqUVZQTWD4BEHiDkg_Intrucoes_percurso.jpg) no-repeat center;background-size:cover;background-color:#5F1673;">
        <div id="intruEs-container3">
          <a ui-sref="login" id="intruEs-button15" style="font-size:13px;text-align:left;" class="button button-light  button-block button-clear">Pular</a>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intruEs-slide26" style="background:url(img/lMkj9teISuAz3H9vZKOh_Instrucoes_carona.jpg) no-repeat center;background-size:cover;background-color:#5F1673;">
        <div id="intruEs-container4">
          <a ui-sref="login" id="intruEs-button5" style="font-size:13px;text-align:right;" class="button button-light  button-block button-clear">Login</a>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>