<ion-view title="Login" hide-nav-bar="true" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/aBCg6GyQjCquGmaxD3wD_Login.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 249.997px;"></div>
    <form id="login-form1" class="list">
      <a ui-sref="telefone" id="login-button1" ng-click="loginFacebook()" class="button button-royal  button-block button-outline icon-left ion-social-facebook">Conectar com o Facebook</a>
    </form>
  </ion-content>
</ion-view>