<ion-view title="Telefone" hide-nav-bar="true" id="page1" style="background-color:#5F1673;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="telefone-form2" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <div>
        <img src="img/LPZUqKnT6msWzYbqh47Q_telephone.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <form id="telefone-form7" class="list">
      <h4 id="telefone-heading6" style="color:#FFFFFF;">Agora, confirme seu telefone:</h4>
      <label class="item item-input" id="telefone-input4">
        <input type="tel" placeholder="Ex. +55 11 91283-2343 ">
      </label>
    </form>
    <a ui-sref="percurso" id="telefone-button2" class="button button-light  button-block button-outline">Continuar</a>
  </ion-content>
</ion-view>